<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="model/layout">

<head>
    <title>Accueil</title>
</head>
<body>

    <main role="main" class="container" layout:fragment="content">
        <div class="d-flex justify-content-center">
            <th:block th:insert="~{ fragment/carousel :: carousel }"></th:block>
        </div>

        <div class="row">
            <th:block th:insert="~{ fragment/accueil :: mainContent }"></th:block>
            <th:block th:insert="~{ fragment/accueil :: sidebar }"></th:block>

        </div>




    </main>

</body>
</html>