<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="model/layout">

<title>Registration</title>
</head>
<body>
<main role="main" class="container"  layout:fragment="content" th:object="${userPasswordUpdateDto}">
    <div class="row">
        <div class="offset-2 col-md-7" >

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Votre mot de passe a été modifié avec succès
                </div>
            </div>

            <div class="clearfix pb-2 pt-2 mt-4 mb-1" >
                <div role="alert" class="alert alert-success float-left w-50 p-2 text-center" >Modification du mot de passe</div>
            </div>
            <form th:action="@{/registration/password/update}"  method="post" >

                <p class="alert alert-danger text-center" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">
                    Erreur de validation
                </p>
                <div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')}? 'has-error':''">
                    <label for="oldPassword" class="control-label">
                        Ancien mot de passe
                    </label>
                    <input id="oldPassword" class="form-control" type="password" th:field="*{oldPassword}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('oldPassword')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')}? 'has-error':''">
                    <label for="password" class="control-label">
                        Nouveau mot de passe
                    </label>
                    <input id="password" class="form-control" type="password" th:field="*{newPassword}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('newPassword')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">
                        Confirmation de votre mot de passe
                    </label>
                    <input id="confirmPassword" class="form-control" type="password" th:field="*{confirmPassword}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        Valider
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>


</body>
</html>