<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="model/layout">

    <title>Registration</title>
</head>
<body>
<main role="main" class="container"  layout:fragment="content">
    <div class="row">
        <div class="offset-2 col-md-7" >

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Vous vous êtes inscrit avec succès
                </div>
            </div>

            <h2>Inscription</h2>
            <form th:action="@{/registration}" th:object="${user}" method="post" >

                <p class="alert alert-danger text-center" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">
                    Erreur de validation
                </p>

                <div class="form-group" th:classappend="${#fields.hasErrors('nom')}? 'has-error':''">
                    <label for="nom" class="control-label">
                        Nom
                    </label>
                    <input id="nom" class="form-control" th:field="*{nom}" />
                    <div class="alert alert-danger text-center" role="alert" th:each="error: ${#fields.errors('nom')}" th:text="${error}">
                        Erreur de validation
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('prenom')}? 'has-error':''">
                    <label for="prenom" class="control-label">
                        Prénom
                    </label>
                    <input id="prenom" class="form-control" th:field="*{prenom}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('prenom')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('telephone')}? 'has-error':''">
                    <label for="telephone" class="control-label">
                        Téléphone
                    </label>
                    <input id="telephone" class="form-control" th:field="*{telephone}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('telephone')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">
                        E-mail
                    </label>
                    <input id="email" class="form-control" th:field="*{email}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('email')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                    <label for="confirmEmail" class="control-label">
                        Confirmation de vote E-mail
                    </label>
                    <input id="confirmEmail" class="form-control" th:field="*{confirmEmail}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('confirmEmail')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">
                        Mot de passe
                    </label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('password')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">
                       Confirmation de votre mot de passe
                    </label>
                    <input id="confirmPassword" class="form-control" type="password" th:field="*{confirmPassword}" />
                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                    <input id="terms" type="checkbox" th:field="*{terms}" />
                    <label class="control-label" for="terms">
                        Je suis d'accord avec
                        <a href="#">
                            les termes et conditions
                        </a>
                        pour l'enregistrement.
                    </label>

                    <p class="alert alert-danger text-center" th:each="error : ${#fields.errors('terms')}" th:text="${error}">
                        Erreur de validation
                    </p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        Inscription
                    </button>
                    <span>Déjà inscrit ?
                        <a href="/" th:href="@{/login}">
                            se connecter ici.
                        </a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</main>


</body>
</html>